<div class="container-fluid col-sm-10">
    <div class="">
        <div class="text-center m-3">
            <h1 class="font-weight-bold">Quem somos:</h1>
        </div>        
        <h2 class="text-justify">
            Somos uma organização sem fins lucrativos fundada em 2011 
            por Maycon Willian, que, depois de completar o ciclo do empreendedor (startup, 
            crescimento, aquisições e fusões, aporte de investimentos e venda), passou a 
            apoiar startups na fase de crescimento. Desde então, vem sendo feito um trabalho 
            consistente com apoio de conselheiros, parceiros e um time de colaboradores dispostos a fazer acontecer. 
            A MW Tecnologia é mantida por voluntários, patrocinadores, apoiadores, cursos,
            eventos e outras atividades contribuem para manutenção da organização.
        </h2>

    </div>
</div>

